# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy JAR app to Azure Web App - trec-apps-test-falsehood-review

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Java version
        uses: actions/setup-java@v1
        with:
          java-version: '11'
      
      - name: Set Up Gradle Properties
        env:
          GRADLE_UN: ${{secrets.AZUREREPOUSERNAME}}
          GRADLE_PW: ${{secrets.AZUREREPOPASSWORD}}
          GRADLE_URL: ${{secrets.AZUREREPOURL}}
        shell: bash
        run : |
          mkdir -p ~/.gradle/
          echo "GRADLE_USER_HOME=${HOME}/.gradle" >> $GITHUB_ENV
          echo "${GRADLE_UN}\n" >> ~/.gradle/gradle.properties  
          echo "${GRADLE_URL}\n" >> ~/.gradle/gradle.properties 
          echo "${GRADLE_PW}" >> ~/.gradle/gradle.properties         

      - name: Build with Gradle
        run: gradle build

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v2
        with:
          name: java-app
          path: '${{ github.workspace }}/build/libs/*.jar'

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v2
        with:
          name: java-app

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'trec-apps-test-falsehood-review'
          slot-name: 'Production'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_10C790F7A5BA4074A8C46F4A09238183 }}
          package: '*.jar'
